* {
  list-style: none; }

body {
  background: #333; }

#home {
  background: url("../img/laptop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px; }

.navbar {
  background: #fff; }
  .navbar .nav-link:hover {
    color: #000; }

#progress {
  background: white;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.skills {
  margin: 60px;
  color: black;
  width: 400px; }

.skills li {
  margin: 25px 0; }

.bar {
  background: #d8d8d8;
  display: block;
  height: 3px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 3px white; }

.bar span {
  height: 2px;
  float: left;
  background: aqua; }

.html {
  width: 90%;
  animation: html 2s; }

.css {
  width: 65%;
  animation: css 2s; }

.ph {
  width: 48%;
  animation: ph 2s; }

#items {
  color: white; }
  #items .fa {
    font-size: 40px; }

@keyframes html {
  0% {
    width: 0%; }
  100% {
    width: 90%; } }

@keyframes css {
  0% {
    width: 0%; }
  100% {
    width: 65%; } }

@keyframes ph {
  0% {
    width: 0%; }
  100% {
    width: 48%; } }
