* {
  list-style: none; }

body {
  background: #fff; }

#home {
  background: url("../img/laptop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  font-weight: 600; }

#hello {
  margin-top: 160px; }

#slider1 .bg-info {
  padding-top: 200px;
  padding-bottom: 200px; }

#slider1 .bg-dark {
  padding-top: 200px;
  padding-bottom: 200px; }

#slider1 .bg-success {
  padding-top: 200px;
  padding-bottom: 200px; }

#slider1 p {
  margin-bottom: 7rem; }

.navbar {
  background: #fff;
  transition: 0.25s; }
  .navbar .nav-link:hover {
    color: #000; }
  .navbar a {
    font-weight: bold; }
  .navbar .form-control {
    border-radius: 2.25rem; }
  .navbar span {
    border-radius: 1.25rem; }

#progress {
  background: #c4c2c2;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  #progress img {
    width: 170px;
    height: 166px;
    margin-top: -56px; }
  #progress .card {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    border-radius: 1.25rem; }
    #progress .card h5 {
      color: #f0f0f0; }
    #progress .card .fa {
      color: blue; }
    #progress .card .fa:hover {
      color: #fff;
      font-size: 30px;
      transition: 0.3s; }
  #progress .fa {
    font-size: 22px; }

#photos {
  background: #fff; }

#logos i {
  font-size: 40px; }

#logos .fa:hover {
  color: blue; }

#about {
  background: #fff; }
  #about img {
    width: 290px;
    height: 90px; }

#foreverthis {
  background: #1a1a1a; }
  #foreverthis a {
    text-decoration: none;
    font-size: 28px; }
  #foreverthis a:hover {
    text-decoration: none;
    color: #fff; }
  #foreverthis i {
    color: #fff;
    font-size: 30px;
    display: inline-block; }

#footer-section a {
  text-decoration: none; }

#footer-section a:hover {
  color: white; }

#formsection {
  background: #808080;
  color: #fff; }

.skills {
  margin: 60px;
  color: white;
  width: 400px; }

.skills li {
  margin: 25px 0; }

.bar {
  background: #fff;
  display: block;
  height: 7px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 3px white;
  padding: 1px; }

.bar span {
  height: 3px;
  float: left;
  background: #00b7ff; }

.html {
  width: 90%;
  animation: html 2s; }

.css {
  width: 65%;
  animation: css 2s; }

.ph {
  width: 48%;
  animation: ph 2s; }

#items {
  color: white; }
  #items .fa {
    font-size: 50px; }

@keyframes html {
  0% {
    width: 0%; }
  100% {
    width: 90%; } }

@keyframes css {
  0% {
    width: 0%; }
  100% {
    width: 65%; } }

@keyframes ph {
  0% {
    width: 0%; }
  100% {
    width: 48%; } }

@media (max-width: 320px) {
  #progress .bar {
    margin-left: -38px;
    width: 250px; }
  #progress h4 {
    margin-left: -38px;
    font-size: 15px; }
  #progress .skills {
    margin-top: 75px; }
  #formsection input {
    width: 200px;
    margin-left: -45px; }
  #formsection textarea {
    width: 200px;
    margin-left: -45px; }
  #foreverthis i {
    font-size: 20px; }
  #foreverthis a {
    font-size: 15px; } }

@media (max-width: 768px) {
  .bar {
    margin-left: -38px;
    width: 300px; }
  h4 {
    margin-left: -38px;
    font-size: 20px; }
  h1 {
    margin-left: -38px; }
  .skills {
    margin-top: 195px; }
  #foreverthis a {
    display: block; } }
